@{ 
    ViewData["Title"] = "Заказ оформлен";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>

    <p>Заказ @ViewBag.OrderId сформирова и в скором времени будет обработан</p>

    <a asp-controller="home" asp-action="Index"> на главную</a>
</div>