<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Adminka - @ViewBag.Title</title>
</head>

<body>
    <div>
        @RenderBody()
    </div>
</body>

</html>
