@model WebStore.Models.Employee

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<h3>Удалить сотрудника @Html.DisplayFor(model => model.LastName)?</h3>

<div>
    @*<form asp-action="Delete">*@

    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </div>
</div>