@model WebStore.ViewModels.EmployeeViewModel

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<h3>Удалить сотрудника @Html.DisplayFor(model => model.LastName)?</h3>

<div>
    <form asp-action="DeleteAction" asp-route-id="@Model.Id" >    
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </form>
</div>