@model WebStore.ViewModels.SectionViewModel

@{
    ViewData["Title"] = "Редактироване "+@Model.Name;
}
<div class="container">
    <h1>Редактирование</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Order" class="control-label"></label>
                    <input asp-for="Order" class="form-control" />
                    <span asp-validation-for="Order" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Parent" class="control-label"></label>
                    <input asp-for="Parent" class="form-control" readonly=@(true)/>
                    <span asp-validation-for="Parent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-default">Отмена</a>
                </div>
            </form>
        </div>
    </div>
   

</div>            