<ul class="nav navbar-nav collapse navbar-collapse">
    <li><a asp-controller="Home" asp-action="Index" class="active">Home</a></li>
    <li class="dropdown">
        <a href="#">Shop<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a asp-controller="Catalog" asp-action="Index">Products</a></li>
            <li><a asp-controller="Home" asp-action="ProductDetails">Product Details</a></li>
            <li><a asp-controller="Cart" asp-action="Index">Корзина</a></li>
            <li><a asp-controller="Account" asp-action="Login">Войти</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#">Blog<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a asp-controller="Home" asp-action="Blog">Blog List</a></li>
            <li><a asp-controller="Home" asp-action="BlogSingle">Blog Single</a></li>
        </ul>
    </li>

    <li><a asp-controller="Home" asp-action="NotFound">404</a></li>
    <li><a asp-controller="Home" asp-action="ContactUs">Связь с нами</a></li>
    <li><a asp-controller="Employees" asp-action="Index">Сотрудники</a></li>
    <li><a asp-controller="Brand" asp-action="Index">Бренды</a></li>
    <li><a asp-controller="WebApi" asp-action="Index">WebAPI</a></li>
</ul>